*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.boxes{
    width: 10%;
    height: 30%;
}

#grey{
    background-color: grey;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#pink{
    background-color: pink;
}